*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  background: #ffffff;
  color: #adabb2;
  font-family: "Hind", sans-serif; }

.header_heading:before, .section_text:before, .section_banner_text_wrap .section_banner_heading:before {
  position: absolute;
  content: "";
  z-index: -1;
  background-color: #14a0c7; }

.header {
  position: relative;
  z-index: -2;
  background: url("../img/m-h-day.jpg") center center/cover no-repeat;
  width: 100%;
  min-height: 720px;
  max-width: 1920px;
  border-bottom-right-radius: 43%;
  margin: 0 auto; }

.header-wrap {
  padding: 20px 1170px 175px 190px; }
  .header-wrap div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 170px;
    padding-top: 65px; }

.landing-logo {
  font-family: "Fresca", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px; }
  .landing-logo img {
    width: 100px;
    height: auto;
    margin-right: 10px; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2rem;
    color: black; }
    .landing-logo p span {
      font-size: 11px; }

.header_heading {
  z-index: 1;
  position: relative;
  font-family: "Source	Sans Pro",	sans-serif;
  font-size: 52px;
  padding: 80px 145px 62px 0;
  font-weight: 700;
  line-height: 3.6rem;
  color: #2c2f3c; }
  .header_heading:before {
    width: 235px;
    height: 40px;
    bottom: 64px;
    left: 0; }

.header_text {
  color: #2c2f3c; }

.header_button {
  padding: 13px 30px;
  background-color: #699900;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-radius: 4px;
  border: none; }

.login {
  color: white;
  font-size: 20px;
  font-weight: 600; }
  .login:hover {
    color: grey; }
  .login:active {
    color: darkgrey; }
  .login:visited {
    color: lightgrey; }

.section {
  padding: 55px 370px 209px 370px; }

.section_text {
  position: relative;
  font-family: "Source Sans Pro",	sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #2c2f3c;
  padding-bottom: 22px; }
  .section_text:before {
    width: 162px;
    height: 45px;
    bottom: 26px;
    left: 597px; }

.section_card_wrap {
  padding: 22px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.section_card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #21232e;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%; }
  .section_card .section_card_img {
    width: 44%;
    border-radius: 8px; }
  .section_card .section_card_right_container {
    width: 63%;
    padding: 50px 80px 25px 88px;
    text-align: center; }
    .section_card .section_card_right_container .section_card_heading {
      font-family: "Source Sans Pro",	sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      padding-bottom: 30px; }
    .section_card .section_card_right_container .section_card_text {
      font-family: "Fresca", sans-serif;
      line-height: 1.7rem;
      padding-bottom: 15px;
      text-align: start; }
    .section_card .section_card_right_container .section_link {
      color: #adabb2; }
      .section_card .section_card_right_container .section_link:hover {
        color: white; }
      .section_card .section_card_right_container .section_link:active {
        color: lightgrey; }
      .section_card .section_card_right_container .section_link:visited {
        color: #a9a8ac; }

.section_banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 160px 40px 160px;
  background: linear-gradient(90deg, #699900 0%, #2b5adc 100%);
  border-radius: 8px;
  z-index: -2; }

.section_banner_text_wrap .section_banner_heading {
  position: relative;
  font-family: "Source Sans Pro",	sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 16px;
  color: #2c2f3c; }
  .section_banner_text_wrap .section_banner_heading:before {
    width: 57px;
    height: 48px;
    bottom: 15px;
    left: 103px; }

.section_banner_button {
  padding: 13px 30px;
  background-color: #699900;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-radius: 4px;
  border: none; }

.footer {
  z-index: -3;
  position: relative;
  margin: 0 auto;
  background-color: #21232e;
  max-width: 1920px;
  padding: 125px 190px 50px 190px;
  margin-top: -280px; }

.footer-wrap {
  display: flex;
  justify-content: space-between;
  font-family: "Fresca", sans-serif; }
  .footer-wrap .footer_logo p {
    color: #adabb2; }
  .footer-wrap .footer_text {
    width: 330px;
    line-height: 1.7rem; }
  .footer-wrap .footer-cr {
    font-family: "Source Sans Pro",	sans-serif; }